{%- if section.blocks.size > 0 -%}
  <style>
    :root {
      --announcement-bar-is-sticky: {% if section.settings.enable_sticky %}1{% else %}0{% endif %};

      {%- if section.index == 1 and section.settings.enable_sticky == false -%}
        --header-scroll-tracker-offset: var(--announcement-bar-height);
      {%- endif -%}
    }

    {%- if section.settings.enable_sticky -%}
      #shopify-section-{{ section.id }} {
        position: sticky;
        top: 0;
        z-index: 5;
      }

      .shopify-section--header ~ #shopify-section-{{ section.id }} {
        top: calc(var(--header-is-sticky, 0) * var(--header-height, 0px));
        z-index: 4;
      }
    {%- endif -%}

    #shopify-section-{{ section.id }} .announcement-bar__scroll {
      display: flex;
      scroll-behavior: smooth;
      gap: 24px;
    }

    #shopify-section-{{ section.id }} .announcement-bar__item {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
    }

    #shopify-section-{{ section.id }} .announcement-bar__text {
      font-size: var(--announcement-bar-font-size);
    }

    @media screen and (min-width: 999px) {
      #shopify-section-{{ section.id }} {
        --announcement-bar-font-size: {{ section.settings.desktop_font_size | divided_by: 16.0 }}rem;
      }
      #shopify-section-{{ section.id }} .announcement-bar__item {
        gap:24px;
      }
    }

    @keyframes auto-scroll-loop {
      0% { transform: translateX(0); }
      100% { transform: translateX(-50%); }
    }

    #shopify-section-{{ section.id }} .announcement-bar__scroll.auto-scroll {
      animation: auto-scroll-loop {{ section.settings.scroll_speed }}s linear infinite;
    }
  </style>

  <height-observer variable="announcement-bar" {% if section.settings.show_only_mobile %}class="md-min_cust"{% endif %} >
    <div class="announcement-bar color-scheme color-scheme--{{ section.settings.color_scheme.id }}" style='padding-top:{{ section.settings.padding_top }}px; padding-bottom:{{ section.settings.padding_bottom }}px;'>
      <div id="scroll-container" class="announcement-bar__scroll auto-scroll">
        {% for i in (1..2) %}
          {% for block in section.blocks %}
            <div class="announcement-bar__item">
              {% if section.settings.icon_image != blank %}
                <span class="announcement-bar__icon">
                  <img src="{{ section.settings.icon_image | img_url: 'x30' }}">
                </span>
            {% endif %}
              <p class="announcement-bar__text" {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </height-observer>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const scrollContainer = document.getElementById('scroll-container');
      const items = Array.from(scrollContainer.children);
      items.forEach(item => {
        const clone = item.cloneNode(true);
        scrollContainer.appendChild(clone);
      });

      // Set announcement bar height variable
      const announcementBar = document.getElementById('shopify-section-{{ section.id }}');
      document.documentElement.style.setProperty('--announcement-bar-height', `${announcementBar.clientHeight.toFixed(2)}px`);
    });
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Niccos - Announcement Bar",
  "class": "shopify-section--announcement-bar",
  "tag": "aside",
  "max_blocks": 5,
  "blocks": [
    {
      "type": "message",
      "name": "t:sections.announcement_bar.blocks.message.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "t:sections.announcement_bar.blocks.message.text",
          "default": "Announce something here"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:global.colors.scheme",
      "default": "scheme-3"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky",
      "label": "t:sections.announcement_bar.enable_sticky_bar"
    },
    {
      "type": "checkbox",
      "id": "show_only_mobile",
      "label": "Show Only on Mobile"
    },
    {
      "type": "range",
      "id": "scroll_speed",
      "min": 5,
      "max": 30,
      "unit": "sec",
      "label": "Scroll Speed",
      "default": 10
    },
    {
      "type": "range",
      "id": "desktop_font_size",
      "min": 9,
      "max": 15,
      "unit": "px",
      "label": "t:sections.announcement_bar.desktop_text_size",
      "default": 11
    },
    {
      "type": "range",
      "id": "mobile_font_size",
      "min": 9,
      "max": 15,
      "unit": "px",
      "label": "t:sections.announcement_bar.mobile_text_size",
      "default": 10
    },
    {
      "type": "image_picker",
      "id": "icon_image",
      "label": "Icon In Between"
    },
     {
      "type": "number",
      "id": "padding_top",
      "label": "Padding Top"
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "Padding Bottom"
    }
  ],
  "presets": [
    {
      "name": "Niccos - Announcement Bar"
    }
  ]
}
{% endschema %}
